@import './styleguide.css';

body {
 

background: #ecf2fa;
}

.header {
    background: #000d1f;
   
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 396px;
    padding: 24px 115px;
        align-items: center;
   width: 100%;
}

.logo {
    font-family: var(--third-family);
font-weight: 400;
font-size: 28px;
line-height: 130%;
color: #fff;
border-left: 0.88px solid #f2994a;
    padding-left: 10px;
}

.news-list {
    display: grid;
    grid-template-columns: 35px 35px 35px 35px 35px 1fr;
    gap: 30px;
}

.news {
    font-family: var(--second-family);
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #fff;
}

.chosen-news {

color: #f2994a;
}

.describe-list {
    display: grid;
    grid-template-columns: 111px 59px 50px;
    gap: 2px;
    margin-left: 30px;
    padding-top: 30px;
   
}

.main {
    width: 610px;
    padding: 24px 30px;
}

.main-header {
    font-family: var(--second-family);
font-weight: 700;
font-size: 30px;
line-height: 130%;
color: #02234d;
margin-bottom: 16px;
}

.describe-section {
    padding-top: 40px;
padding-bottom: 44px;
width: 1400px;

}
.describe-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 100%;
}

.describe-section-container {
    width: 670px;
   margin-left: 115px;
  
   background-color: #fff;
}

.grey-text {
    font-family: var(--second-family);
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #a7b2c0;
}

.describe-news {
        font-family: var(--second-family);
font-weight: 400;
font-size: 14px;
line-height: 150%;
    color: #02234d;
}

.data {
    font-family: var(--second-family);
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #50739f;
margin-bottom: 16px;
}

.author {
    font-family: var(--second-family);
font-weight: 500;
font-size: 16px;
line-height: 130%;
color: #02234d;

}

.main-img {
    margin-bottom: 24px;
}



.describe-list-item {
display: grid;
gap: 30px;
padding-left: 30px;
padding-right: 30px;
}

.main-text {
    font-family: var(--second-family);
font-weight: 400;
font-size: 16px;
line-height: 130%;
color: #02234d;
}

.img-container {
    background-color: #fff;
    padding: 30px;
    width: 470px;
}

.news-text {
    font-family: var(--second-family);
font-weight: 700;
font-size: 30px;
line-height: 130%;
color: #02234d;
margin-bottom: 25px;
}

.news-list-item {
    display: grid;
    gap: 25px;
}

.news-container {
   display: grid;
   grid-template-columns: 140px 1fr;
   gap: 25px;
   border-bottom: 2px solid #e6e9ee;
   padding-bottom: 25px;
}

.last {
    border-bottom: none;
    margin-bottom: 70px;
}

.news-header {
    font-family: var(--font-family);

font-size: 16px;
line-height: 130%;
color: #1a1a1a;
margin-bottom: 16px;
}

.news-txt {
    font-family: var(--font-family);
font-weight: 400;
font-size: 13px;
color: rgba(9, 9, 32, 0.7);
margin-bottom: 16px;
}

.author-text {
    display: flex;
    gap: 4px;
}

.author-name {
    font-family: var(--font-family);
font-weight: 400;
font-size: 13px;
color: rgba(9, 9, 32, 0.7);
}

.date {
       font-family: var(--font-family);
font-weight: 400;
font-size: 13px;
color: #b4b7c1;
}

.footer {
    background: #000d1f;
}

.footer-container {
    display: grid;
    grid-template-columns: 265px 266px 1fr;
    padding: 48px 116px;
    gap: 134px;
        align-items: center;
        width: 100%;
}



.footer-text {
    font-family: var(--second-family);
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #fff;
}

.policy-text {
    font-family: var(--second-family);
font-weight: 500;
font-size: 14px;
line-height: 150%;
color: #fff;
}



.policy-container {
    display: grid;
    row-gap: 79px;
}

.contacts {
        display: grid;
    row-gap: 82px;
   
}

.footer-logo {
    font-family: var(--third-family);
font-weight: 400;
font-size: 48px;
line-height: 130%;
color: #fff;
border-left: 1.48px solid #f2994a;
padding-left: 16px;
margin-left: 40px;
}

.policy-text p {
    cursor: pointer; /* Додає іконку руки */
}

.policy-text p:hover {
    color: orange; /* Зміна кольору тексту при наведенні */
}